@{
    ViewData["Title"] = "Página de inicio para la plataforma InstaFeiGram";
}

<div class="row">
    <div class="jumbotron">
        <h1>InstafeiGram</h1>
        <h2>Esta plataforma fue construida como proyecto final para la materia de desarrollo Web</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Desarrollo</h2>
        <h3>Tecnologias Elegidas</h3>
        <ul>
            <li><a>Aspnet core</a></li>
            <li><a>SqlServer</a></li>
            <li><a>Bootstrap</a></li>
            <li><a>Imagemagick(Magicknet)</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Funcionalidades</h2>
        <ul>
            <li>Subir Imagenes</li>
            <li>Buscar Imagenes</li>
            <li>Aplicar filtros a imagenes</li>
            <li>Registrar y manejar usuarios</li>
            <li>Escalar y recortar imagenes</li>
            <li>Comentar imagenes</li>
            <li>Seguir usuarios</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Despliegue</h2>
        <ul>
            <li>Aspnetcore</li>
            <li>Express</li>
            <li>SQLSERVER e imagemaick</li>
        </ul>
    </div>
</div>
