@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Sin acceso";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No hay sitio para los tramposos.</p>
</header>
