@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Sin confirmacion del correo";
}

<h2>@ViewData["Title"]</h2>
<p>
   Espera un poco mas a que llegue el correo, o tal vez lo escribiste mal.
</p>

