@model IEnumerable<InstaFeiGram.Models.Foto>

@{
    ViewData["Title"] = "Perfiles";
}
<br />
<h4>Perfil</h4>
<br />
<button class="btn-success" id="alertsubir">Seguir a este usuario</button>
<br />
@foreach (var item in Model)
{
    <br />
    <div class="row">
        <br />
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @if (item.grises == true)
            {
                <div class="col-4" style="-webkit-filter:invert(100%);filter: invert(100%)">
                    <img src="\images\@item.rutaimagen" alt="model.resumen" class="img-responsive">
                </div>
            }
            else
            {
                <div class="col-4">
                    <img src="\images\@item.rutaimagen" alt="model.resumen" class="img-responsive">
                </div>
            }
            <div class="caption">
                <br />
                <h3>@item.titulo</h3>
                <p><a href="/Comentarios/Create?FotoId=@item.idfoto" class="btn btn-sm btn-primary" role="button">Comentarios</a></p>
                | <a class="btn" href="/Fotoes/DarGusta?idFoto=@item.idfoto" onclick="blcbtn(this)">Me gusta</a>|
                <a asp-action="Details" asp-route-id="@item.idfoto">Detalles</a>|
                <br />
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
}